body {
	background: -webkit-linear-gradient(left top, black, deepskyblue) no-repeat;
	background: -o-linear-gradient(bottom right, black, deepskyblue) no-repeat;
	background: -moz-linear-gradient(bottom right, black, deepskyblue) no-repeat;
	background: linear-gradient(to bottom right, black, deepskyblue) no-repeat;
	color: white;
	margin: 0 auto;
	height: 100%;
}

#logo_image {
	height: 4em;
}

header {
	padding-top: 15px;
	padding-left: 10px;
}

a {
	text-decoration: none;
	color: white;
}

header h1:hover {
	text-shadow: -1px 10px 40px white, 10px -1px 40px white;
}

header h1 {
	text-shadow: -1px 5px 20px white, 5px -5px 20px white;
	display: inline-block;
}

h2 {
	text-shadow: -1px 10px 40px white, 10px -1px 40px white;
	padding-left: 5px;
	font-weight: 300;
	text-decoration: underline;
}

h3 {
	font-weight: 100;
}

#recommenderConsole {
	margin-bottom: 200px;
	margin-left: 20px;
}

#recommendationTypeOption {
	float: left;
	padding-left: 50px;
}

.rightColumn {
	float: right;
}

.leftColumn {
	float: left;
}

.column {
	height: 30em !important;
	text-align: center;
	width: 49%;
	overflow: auto;
	background: rgba(140, 242, 255, 0.31);
	display: inline-block;
}

#howManyLabel, #quickSearchLabel {
	font-size: 1.5em;
}

#similarityTypeOption {
	padding-top: 20px;
	float: left;
}

.inputForm {
	text-align: center;
	display: none;
	float: right;
	padding-right: 20px;
}

input[type=text] {
	height: 20px;
	font-size: 1em;
	width: 120px;
}

.quickSelect {
	text-align: center;
	font-size: 1.1em;
	height: 20px;
	font-weight: bold;
	width: 80px;
}

#quickSearch {
	margin-bottom: 20px;
}

#quickSearch img {
	height: 1em;
}

.howManyInput {
	text-align: center;
	font-size: 2em;
	height: 50px;
	font-weight: bold;
	width: 70px;
}

.successText {
	/*color: green;*/
	font-weight: lighter;
	display: none;
	text-shadow: -1px 1px 8px green, 1px -1px 8px green;
}

.failText {
	font-weight: lighter;
	display: none;
	text-shadow: -1px 1px 8px red, 1px -1px 8px red;
}

.howManyBecauseInput {
	text-align: center;
	font-size: 1em;
	height: 25px;
	font-weight: bold;
	width: 60px;
}

input[type=number], input[type=text] {
	color: black;
	text-align: center;
}

input[type=submit] {
	background: url("/resources/image/submitButton.png") no-repeat scroll 0 0 transparent;
	vertical-align: top;
	height: 55px;
	width: 55px;
	color: transparent;
	cursor: pointer;
	font-weight: bold;
}

.button {
	opacity: 0.6;
	text-align: center;
	font-family: Menlo, serif;
	font-size: 0.8em;
	border: solid;
	padding: 1em;
	margin: 0.4em;
	display: inline-block;
}

.userButton {
	width: 70px;
}

.userButton:before {
	content: "User ";
}

.staticButton, .staticButton:hover {
	opacity: 1;
	cursor: default !important;
}

.backButton {
	color: rgba(0, 249, 224, 0.8)
}

.backButton:hover {
	opacity: 1 !important;
	text-shadow: none !important;
}

#quickUserSelect:before {
	content: "User ";
}

.selected, .button:hover {
	text-shadow: -1px 1px 8px white, 1px -1px 8px white;
	cursor: pointer;
	opacity: 1;
}

#fileInformation {
	font-family: Menlo, serif;
	font-weight: 100;
	float: left;
	font-size: 0.9em;
	display: block;
	text-align: right;
	width: 60%;
	overflow: auto;
	margin-right: 5px;
}

#fileInformation ul {
	list-style: none;
}

#fileInformation span {
	font-weight: bold;
}

#gauge {
	float: left;
	width: 38%;
	height: 200px;
}

footer {
	clear: both;
	background: lightblue;
	height: 4em;
	position: fixed;
	bottom: 0;
	width: 100%;
	z-index: 1;
	text-align: center;
}

footer p {
	padding-top: 0.5em;
}

#backgroundImage {
	opacity: 0.3;
	left: 62%;
	top: 400px;
	position: absolute;
	z-index: -1;
}

.innerColumn {
	text-align: center;
}

.ui-autocomplete {
	max-height: 200px;
	overflow-y: auto;
	/* prevent horizontal scrollbar */
	overflow-x: hidden;
	background: rgba(0, 4, 12, 0.57) !important;
}
