body {
	background: -webkit-linear-gradient(left top, black, deepskyblue) no-repeat;
	background: -o-linear-gradient(bottom right, black, deepskyblue) no-repeat;
	background: -moz-linear-gradient(bottom right, black, deepskyblue) no-repeat;
	background: linear-gradient(to bottom right, black, deepskyblue) no-repeat;
	color: white;
	margin: 0 auto;
}

#logo_image {
	height: 4em;
}

header {
	padding-top: 15px;
	padding-left: 10px;
}

a {
	text-decoration: none;
	color: white;
}

header h1:hover {
	text-shadow: -1px 10px 40px #ffc, 10px -1px 40px white;
}

header h1 {
	text-shadow: -1px 1px 8px #ffc, 1px -1px 8px white;
	display: inline-block;
}

h2 {
	text-shadow: -1px 10px 40px #ffc, 10px -1px 40px white;
	padding-left: 5px;
	font-weight: 300;
	text-decoration: underline;
}

#recommenderConsole {
	margin-bottom: 200px;
	margin-left: 20px;
}

#recommendationTypeOption {
	float: left;
	padding-left: 10px;
}

.rightColumn {
	float: right;
}

.leftColumn {
	float: left;
}

.column {
	height: 24em !important;
	text-align: center;
	width: 49%;
	overflow: auto;
	background: rgba(140, 242, 255, 0.31);
	display: inline-block;
}

#similarityTypeOption {
	padding-top: 20px;
	float: left;
}

.inputForm {
	text-align: center;
	display: none;
	float: right;
	padding-right: 20px;
}

input[type=text] {
	height: 20px;
	font-size: 1em;
	width: 120px;
}

#quickSearch {
	height: 37px;
	margin-bottom: 10px;
}

#quickSearch img {
	height: 1em;
}

input[type=number] {
	font-size: 2em;
	height: 50px;
	font-weight: bold;
	width: 70px;
}

input[type=number], input[type=text] {
	color: black;
}

input[type=submit] {
	background: url("/resources/image/submitButton.png") no-repeat scroll 0 0 transparent;
	vertical-align: top;
	height: 55px;
	width: 55px;
	color: transparent;
	cursor: pointer;
	font-weight: bold;
}

.button {
	opacity: 0.6;
	text-align: center;
	font-family: Menlo, serif;
	font-size: 0.7em;
	border: solid;
	padding: 1em;
	margin: 0.4em;
	display: inline-block;
}

#users .button {
	width: 70px;
}

#recommendationResult .button {
	opacity: 1;
	cursor: pointer;
}

.selected, .button:hover {
	text-shadow: -1px 1px 8px #ffc, 1px -1px 8px white;
	cursor: pointer;
	opacity: 1;
}

#fileInformation {
	font-family: Menlo, serif;
	font-weight: 100;
	float: left;
	padding-left: 20px;
	font-size: 1em;
	display: block;
	text-align: left;
}

#fileInformation span {
	font-weight: bold;
}

footer {
	clear: both;
	background: lightblue;
	height: 4em;
	position: fixed;
	bottom: 0;
	width: 100%;
	z-index: 1;
	text-align: center;
}

footer p {
	padding-top: 0.5em;
}

#backgroundImage {
	opacity: 0.3;
	left: 62%;
	top: 400px;
	position: absolute;
	z-index: -1;
}

.innerColumn {
	text-align: center;
}

#gauge {
	float: right;
	width: 250px;
	height: 250px;
}
