body {
	margin: 0;
	padding: 0;
	height: 100%;
}

#logo_image {
	height: 3.5em;
}

header {
	padding-top: 1.5em;
	padding-bottom: 1.5em;
}

header h1 {
	display: inline-block;
}

#recommenderConsole {
	width: 85%;
	height: 50em;
	margin: 0 auto;
}

.column {
	overflow: auto;
	background: lightpink;
	float: left;
	width: 30%;
	height: 100%;
	margin-right: 10px;
	margin-left: 10px;
	padding: 5px;
}

#numericOptions {
	margin-top: 20px;
	text-align: center;
	display: none;
}

.column h2 {
	text-align: center;
}

#similarityTypeOption {
	margin-top: 20px;
	height: 50%;
	overflow: auto;
}

#recommenderConsole table {
	margin-left: auto;
	margin-right: auto;
}

#recommendationTypeOption .button {
	background: lightblue;
}

.button {
	width: 50%;
	text-align: center;
	font-family: Menlo, serif;
	font-size: 1em;
	border: solid;
	padding: 1em;
}

.selected, .button:hover {
	background: forestgreen !important;
}

footer {
	clear: both;
	background: lightblue;
	height: 4em;
	/*position: fixed;*/
	bottom: 0;
	width: 100%;
	z-index: 1;
	text-align: center;
}

footer p {
	padding-top: 0.5em;
}
